# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/

# IDE
.vscode/
# OS
.DS_Store

# Git
.git/

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Documentation
README.md

# Tests
tests/
